.cursor-dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  translate: -50% -50%;
  border-radius: 50%;
  background: var(--white);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 200;
  transform: translate(-100px, -100px);
}

@media (pointer: coarse) {
  .cursor-dot {
    display: none;
  }
}
